page-hard {

}


.Backgroundcolor{


    background-color:  rgb(126, 125, 125);
    font-family:Verdana, Geneva, Tahoma, sans-serif;





}



.buttons{


    background-color:  rgba(144, 185, 238, 0.691);

    font-family: 'Times New Roman', Times, serif;
    color: rgba(246, 244, 244, 0.931);

}

.Questions{


    background-color:  rgba(171, 199, 236, 0.781);

    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);




}