<!--
  Generated template for the MediumPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Medium</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="backgroundColor">

  <ion-item class="Questions">
  <h2>Question 1</h2>
  <h3>Who is the artist?</h3>
  <h4>Songs</h4>
  <ion-item class="Songs">
   <h2>Someone You Loved</h2>
   <h2>Tough</h2>
   <h2>Bruises</h2>
    </ion-item>

<h3>Your Pick</h3>
  <div *ngFor = "let song of songs">
    <input class="List"
    type="radio"
    name="songs"
    value = "{{song}}"
    (change) = "radioChangeHandler($event)">
    <i>{{song}}</i> 
    </div>

    <p><span>You Selected: </span> <b>{{selectedArtist}}</b></p>


    <button  class="buttons" [disabled] = "buttonDisabled" ion-button (click)="CheckAnswer()">Save</button>
  </ion-item>
<br>
<ion-item class="Questions">
    <h2>Question 2 </h2>
    <h3>Who is the artist?</h3>
    <h4>Songs</h4>
    <ion-item class="Songs">
     <h2>Closer</h2>
     <h2>Use Somebody</h2>
     <h2>Pyro</h2>
      </ion-item>
  
  <h3>Your Pick</h3>
    <div *ngFor = "let song2 of songs2">
      <input class="List"
      type="radio"
      name="songs2"
      value = "{{song2}}"
      (change) = "radioChangeHandler2($event)">
      <i>{{song2}}</i> 
      </div>
  
      <p><span>You Selected: </span> <b>{{selectedArtist2}}</b></p>
  
  
      <button  class="buttons" [disabled] = "buttonDisabled2" ion-button (click)="CheckAnswer2()">Save</button>

    </ion-item>
    <br>
<ion-item class="Questions">
<h2>Question 3 </h2>
<h3>Who is the artist?</h3>
<h4>Songs</h4>
<ion-item class="Songs">
 <h2>One Kiss</h2>
 <h2>Summer</h2>
 <h2>Bounce</h2>
  </ion-item>

<h3>Your Pick</h3>
<div *ngFor = "let song3 of songs3">
  <input class="List"
  type="radio"
  name="songs3"
  value = "{{song3}}"
  (change) = "radioChangeHandler3($event)">
  <i>{{song3}}</i> 
  </div>

  <p><span>You Selected: </span> <b>{{selectedArtist3}}</b></p>


  <button  class="buttons" [disabled] = "buttonDisabled3" ion-button (click)="CheckAnswer3()">Save</button>
</ion-item>

<br>
<ion-item class="Questions">
<h2>Question 4 </h2>
<h3>Who is the artist?</h3>
<h4>Songs</h4>
<ion-item class="Songs">
 <h2>Back in Black</h2>
 <h2>Shoot to Thrill</h2>
 <h2>Thunderstruck</h2>
  </ion-item>

<h3>Your Pick</h3>
<div *ngFor = "let song4 of songs4">
  <input class="List"
  type="radio"
  name="songs4"
  value = "{{song4}}"
  (change) = "radioChangeHandler4($event)">
  <i>{{song4}}</i> 
  </div>

  <p><span>You Selected: </span> <b>{{selectedArtist4}}</b></p>


  <button  class="buttons" [disabled] = "buttonDisabled4" ion-button (click)="CheckAnswer4()">Save</button>
</ion-item>
<br>
<ion-item class="Questions">
<h2>Question 5 </h2>
<h3>Who is the artist?</h3>
<h4>Songs</h4>
<ion-item class="Songs">
 <h2>Pretty Shining People</h2>
 <h2>Shotgun</h2>
 <h2>Paradise</h2>
  </ion-item>

<h3>Your Pick</h3>
<div *ngFor = "let song5 of songs5">
  <input class="List"
  type="radio"
  name="songs5"
  value = "{{song5}}"
  (change) = "radioChangeHandler5($event)">
  <i>{{song5}}</i> 
  </div>

  <p><span>You Selected: </span> <b>{{selectedArtist5}}</b></p>


  <button  class="buttons" [disabled] = "buttonDisabled5" ion-button (click)="CheckAnswer5()">Save</button>

</ion-item>




    <H6>  Your score is : {{score}}  </H6>

    <button  [color] = "buttons" class="buttons"  ion-button (click)="CheckScore()">Submit Score</button>

    <button  class="buttons"  [disabled] = "buttonOf" ion-button (click)="Advance()">Advance</button>








</ion-content>
