page-medium {

}

.backgroundColor{


    background-color:  rgb(37, 75, 66);
    font-family:Verdana, Geneva, Tahoma, sans-serif;





}




.buttons{


    background-color:  rgba(204, 24, 24, 0.691);

    font-family: 'Times New Roman', Times, serif;
    color: rgba(255, 255, 255, 0.931);

}