page-game-menu {

}

.backgroundcolor{


    background-color: rgba(149, 2, 2, 0.945);
 
    
    }


.Easy{
    background-color: rgba(133, 2, 2, 0.753);
    text-align: center;

}


.Medium{
    background-color: rgba(0, 119, 167, 0.945);
    text-align: center;

}



.Hard{
    background-color: rgba(16, 139, 36, 0.945);
    text-align: center;

}