page-easy {

}

.Background{

font-family:Verdana, Geneva, Tahoma, sans-serif;
background-color: rgba(221, 221, 221, 0.931);


}

.Songs{

    background-color: rgb(236, 217, 217);




}
.buttons{



background-color:  rgba(204, 24, 24, 0.691);

font-family: 'Times New Roman', Times, serif;
color: rgba(255, 255, 255, 0.931);
}